/* Estilos para colores */
.colores {
    color: orangered;
}

.color-hexadecimal {
    color: #3a506b;
}

.color-rgb {
    color: rgb(53, 71, 226);
}

.color-rgba {
    color: rgba(10, 10, 10, 0.85);
}

/* Fondos */
.fondo-ext {
    /* background-color: cornflowerblue; */
    background-image: url("https://i.pinimg.com/736x/ad/f6/a6/adf6a6aabc003da342e3280c51d9a542.jpg");
    background-position: left bottom;
}
.fondo-int {
    /* background-color: cornflowerblue; */
    background-image: url("img/fondo-background.jpg");
    background-position: left bottom;
}

/* Tamaños */
.ancho{
    background-color: #BCE784;
    width: 100px;
}
.alto{
    background-color: aquamarine;
    height: 200px;
}
.tarjeta{
    border-style: solid;
    border-color: rgb(150,150,150);
    border-width: 1px;
    /* border-top: none; */
    padding: 10px 20px;
    margin: 15px;
}