/* Estilos para colores */
.colores{
    color: orangered;
}

.color-hexadecimal{
    color: #3A506B;
}

.color-rgb{
    color: rgb(53, 71, 226)
}

.color-rgba{
    color: rgba(10, 10, 10, 0.85)
}